<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles/styleSeat.css">
</head>
<body>
<div class="header_div">
    <div style="margin-left: 3%">
        <a th:href="@{/films}" style="text-decoration:none; color: black">
            <div class="div_logo">
                <p class="logo_cinema">CINEMA</p>
                <p class="logo_centre">CENTRE</p>
            </div>
        </a>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
        <form method="get" th:action="@{/admin/films}">
            <button class="button_films" type="submit">Фильмы</button>
        </form>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
        <form method="get" th:action="@{/admin/cinema}">
            <button class="button_cinema" type="submit">Кинотеатры</button>
        </form>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
        <form method="get" th:action="@{/admin/orders}">
            <button class="button_orders" type="submit">Заказы</button>
        </form>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
        <form method="get" th:action="@{/admin/report}">
            <button class="button_report" type="submit">Отчет</button>
        </form>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
        <form method="get" th:action="@{/admin/users}">
            <button class="button_users" type="submit">Пользователи</button>
        </form>
    </div>
    <div sec:authorize="hasRole('USER')">
        <form method="get" th:action="@{/account/orders}">
            <button class="button_users" type="submit">Мои билеты</button>
        </form>
    </div>
    <div style="margin-right: 3%">
        <form method="get" th:action="@{/account}">
            <button class="button_account" type="submit">Личный кабинет</button>
        </form>
    </div>
</div>
<br>
<form th:object="${order}" th:action="@{/orders/processTwo}" method="post">
    <div class="div_process">
        <div style="border: solid dimgrey 2px; width: 40%; padding: 10px 10px 10px 10px">
            <div>
                <span th:text="${filmSession.getHall().getCinema().getName()}"></span>&nbsp;&nbsp;&nbsp;
                <span th:text="${'Зал: ' + filmSession.getHall().getName()}"></span><br>
                <p th:text="${filmSession.getHall().getCinema().getAddress()}"></p>
                <h3 th:text="${#temporals.format(filmSession.getStartDate(), 'dd.MM.yyyy') + ', ' + filmSession.getStartTime()}"></h3>
            </div>
            <div style="margin-top: 10%">
                <p>Ваш заказ:</p>
                <div th:each="seat: ${seats}">
                    <p th:text="${'Ряд - ' + seat.getSeat().getRow() + ', Место: ' + seat.getSeat().getSeat() + '.............................................' + filmSession.getPrice()}"></p>
                    <input type="hidden" name="states" id="states" th:value="${seat.getId()}">
                </div>
                <hr>
                <div th:if="${order.getUser().getBonuses()>0}" style="margin-top: auto; margin-bottom: 0">
                    <label for="points">Списать баллы</label>
                    <input type="range" id="points" name="points" min="0" th:value="${points}"
                           th:max="${T(ru.gudoshnikova.mainproject.util.Util).min(order.getUser().getBonuses(), filmSession.getPrice())}" oninput="this.nextElementSibling.value = this.value">
                    <output th:value="${points}" th:text="${points}"></output>
                </div>
            </div>
        </div>
        <div style="border: solid dimgrey 2px; height: 328.95px; width: 40%; padding: 10px 10px 10px 10px" class="processOne">
            <div>
                <h2 th:text="${filmSession.getFilm().getTitle()}"></h2>
                <p style=""><span>Жанр: </span><span th:text="${filmSession.getFilm().getGenre()}"></span></p>
                <p style=""><span>Год выхода: </span><span th:text="${filmSession.getFilm().getStartRental().getYear()}"></span></p>
                <p style=""><span>Страна производства: </span><span th:text="${filmSession.getFilm().getCountry()}"></span></p>
                <p style=""><span>Продолжительность: </span><span th:text="${filmSession.getFilm().getDuration()}"></span></p>
            </div>
            <div style="margin-left: auto; margin-right: 0">
                <img th:if="${filmSession.getFilm().getPosterFile() != null}"
                     th:src="@{'/posters/'+${filmSession.getFilm().getPosterFile()}}"
                     alt="" width="230px" height="328.95px">
            </div>
            <input type="hidden" th:field="*{filmSession}" id="filmSession" name="filmSession">
            <input type="hidden" th:field="*{seats}" id="seats" name="seats">
            <input type="hidden" th:field="*{user}" id="user" name="user">
        </div>
    </div>
    <button class="button_decoration" type="submit">Оформить</button>
</form>
<form th:action="@{/orders/selectSeat}" method="get">
    <input type="hidden" name="filmSessionId" id="filmSessionId" th:value="${order.getFilmSession().getId()}">
    <input type="submit" value="Назад" class="button_back">
</form>
</body>
</html>