<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles/styleSeat.css">
</head>
<body>
<div class="header_div">
    <div style="margin-left: 3%">
        <a th:href="@{/films}" style="text-decoration:none; color: black">
            <div class="div_logo">
                <p class="logo_cinema">CINEMA</p>
                <p class="logo_centre">CENTRE</p>
            </div>
        </a>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
        <form method="get" th:action="@{/admin/films}">
            <button class="button_films" type="submit">Фильмы</button>
        </form>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
        <form method="get" th:action="@{/admin/cinema}">
            <button class="button_cinema" type="submit">Кинотеатры</button>
        </form>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
        <form method="get" th:action="@{/admin/orders}">
            <button class="button_orders" type="submit">Заказы</button>
        </form>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
        <form method="get" th:action="@{/admin/report}">
            <button class="button_report" type="submit">Отчет</button>
        </form>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
        <form method="get" th:action="@{/admin/users}">
            <button class="button_users" type="submit">Пользователи</button>
        </form>
    </div>
    <div sec:authorize="hasRole('USER')">
        <form method="get" th:action="@{/account/orders}">
            <button class="button_users" type="submit">Мои билеты</button>
        </form>
    </div>
    <div style="margin-right: 3%">
        <form method="get" th:action="@{/account}">
            <button class="button_account" type="submit">Личный кабинет</button>
        </form>
    </div>
</div>
<div style="background-color: mintcream">
    <div>
        <div class="film">
            <div style="margin-left: 4%; width: 600px">
                <div style="width: 700px">
                    <div>
                        <p style="font-size: 18px"><span style="font-size: 19px; font-weight: bold">Идентификатор: </span><span th:text="${cinema.getId()}"></span></p>
                        <p style="font-size: 18px"><span style="font-size: 19px; font-weight: bold">Название: </span><span th:text="${cinema.getName()}"></span></p>
                        <p style="font-size: 18px"><span style="font-size: 19px; font-weight: bold">Адрес: </span><span th:text="${cinema.getAddress()}"></span></p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div style="display: flex; flex-direction: row; justify-content: space-between">
                <h3>Залы</h3>
            </div>
            <table style="width: 100%; border-collapse: collapse; border: 2px solid white;">
                <tr style="font-size: 19px; font-weight: bold;">
                    <td style="padding: 3px; border: 1px solid">Идентификатор</td>
                    <td style="padding: 3px; border: 1px solid">Название</td>
                    <td style="padding: 3px; border: 1px solid">Вместимость</td>
                    <td></td>
                </tr>
                <tr th:each="hall : ${halls}">
                    <td th:text="${hall.getId()}" style="padding: 3px; border: 1px solid"></td>
                    <td th:text="${hall.getName()}" style="padding: 3px; border: 1px solid"></td>
                    <td th:text="${hall.getRowsCount()+'*'+hall.getPlacesCount()+' ('+
                    T(ru.gudoshnikova.mainproject.util.Util).getCountExistPlaces(hall)+')'}" style="padding: 3px; border: 1px solid"></td>
                    <td style="padding: 3px; border: 1px solid">
                        <form th:action="@{'/admin/cinema/deleteHall/'+${hall.getId()}}" th:method="delete">
                            <input type="hidden" name="_method" value="DELETE" />
                            <button type="submit" class="delete_hall" onclick="return confirm('Все существующие сеансы в этом зале будут удалены. Вы действительно хотите удалить зал?');">Удалить зал</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <form th:action="@{/admin/cinema/addHall}" method="post" th:object="${hall}">
                <div style="border: solid black 2px; border-radius: 15px; margin-top: 3%">
                    <table style="width: 100%;">
                        <tr style="font-size: 19px; font-weight: bold;">
                            <td style="padding-left: 1.5%">
                                <label for="name">Название: </label>
                                <input type="text" name="name" id="name"
                                       placeholder="Название" th:field="*{name}">
                            </td>
                            <td>
                                <label for="rows">Макс кол-во рядов</label>
                                <input type="number" name="rows" id="rows" min="0"
                                       placeholder="Количество рядов" th:field="*{rowsCount}">
                            </td>
                            <td style="padding-left: 1%">
                                <label for="places">Макс кол-во мест в ряду</label>
                                <input type="number" name="places" id="places" th:field="*{placesCount}" min="0"
                                       placeholder="Количество мест в ряду" style="width: 100px">
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" th:value="${cinema.getId()}" name="cinema" id="cinema">
                </div>
                <input th:if="${flag==false}" class="admin_edit_button" type="submit" value="К редактированию">
            </form>
            <div th:if="${flag==true}">
                <hr>
                <h3>Выберите места, которые хотите убрать</h3>
                <div style="width: 100%;">
                    <form th:action="@{/admin/cinema/addHall2}" method="post" th:object="${hall}">
                        <input type="hidden" name="name" th:value="${hall.getName()}">
                        <input type="hidden" name="rowsCount" th:value="${hall.getRowsCount()}">
                        <input type="hidden" name="placesCount" th:value="${hall.getPlacesCount()}">
                        <input type="hidden" name="cinema" th:value="${hall.getCinema().getId()}">
                        <input type="hidden" name="cinemaId" th:value="${cinema.getId()}">
                        <table style="margin-right: auto; margin-left: auto">
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr th:each="rowNumber, rowStat: ${#numbers.sequence(1, hall.getRowsCount())}">
                                <td th:each="placeNumber, placeStat: ${#numbers.sequence(1, hall.getPlacesCount())}">
                            <span th:if="${placeNumber==1}">&nbsp;&nbsp;
                                <span th:if="${rowNumber<10}"><span th:text="${rowNumber + '    '}"></span></span>
                                <span th:if="${rowNumber>=10}" th:text="${rowNumber}"></span>&nbsp;&nbsp;
                            </span>
                                    <input type="checkbox" th:id="'seat_' + ${rowStat.index} + '_' + ${placeStat.index}"
                                           th:autocomplete="off" th:value="${T(ru.gudoshnikova.mainproject.util.Util).getHallSeatByRowAndSeat(seats, rowNumber, placeNumber, hall).getRow()+'-'+T(ru.gudoshnikova.mainproject.util.Util).getHallSeatByRowAndSeat(seats, rowNumber, placeNumber, hall).getSeat()}"
                                           name="states">
                                    <label th:for="'seat_' + ${rowStat.index} + '_' + ${placeStat.index}"
                                           class="checkbox-not-booked">
                                    </label>
                                </td>
                            </tr>
                        </table>
                        <button type="submit" style="margin-left: auto; margin-right: auto; display: block;background-color: #1A2238; border: solid #1A2238; color: white; border-radius: 4px">Добавить зал</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>