<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/styles/styleSeat.css">
</head>
<body>
<div layout:fragment="content">
  <div class="header_div">
    <div style="margin-left: 3%">
      <a th:href="@{/films}" style="text-decoration:none; color: black">
        <div class="div_logo">
          <p class="logo_cinema">CINEMA</p>
          <p class="logo_centre">CENTRE</p>
        </div>
      </a>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
      <form method="get" th:action="@{/admin/films}">
        <button class="button_films" type="submit">Фильмы</button>
      </form>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
      <form method="get" th:action="@{/admin/cinema}">
        <button class="button_cinema" type="submit">Кинотеатры</button>
      </form>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
      <form method="get" th:action="@{/admin/orders}">
        <button class="button_orders" type="submit">Заказы</button>
      </form>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
      <form method="get" th:action="@{/admin/report}">
        <button class="button_report" type="submit">Отчет</button>
      </form>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
      <form method="get" th:action="@{/admin/users}">
        <button class="button_users" type="submit">Пользователи</button>
      </form>
    </div>
    <div sec:authorize="hasRole('USER')">
      <form method="get" th:action="@{/account/orders}">
        <button class="button_users" type="submit">Мои билеты</button>
      </form>
    </div>
    <div style="margin-right: 3%">
      <form method="get" th:action="@{/account}">
        <button class="button_account" type="submit">Личный кабинет</button>
      </form>
    </div>
  </div>
  <br>
  <div style="background-color: mintcream">
    <form th:action="@{/account/edit}" th:object="${user}" th:method="patch">
      <div class="film">
        <div style="margin-left: 4%; width: 600px">
          <div style="width: 700px">
            <h5>Имя</h5>
            <input class="input_film" type="text" id="name" th:field="*{firstName}"
                   name="name" required>
            <h5>Фамилия</h5>
            <input class="input_film" type="text" id="genre" th:field="*{lastName}"
                   name="genre" required>
            <h5>Дата рождения</h5>
            <input class="input_film" type="date" id="start" th:field="*{birthDate}"
                   name="start" required>
            <h5>Email</h5>
            <input class="input_film" type="text" id="end" th:field="*{email}"
                   name="end" required>
            <h5>Логин(никнейм)</h5>
            <input class="input_film" type="text" id="country" th:field="*{login}"
                   name="country" required>
            <input type="hidden" name="id" id="id" th:field="*{id}">
            <input type="hidden" name="password" id="password" th:field="*{password}">
            <input type="hidden" name="role" id="role" th:field="*{role}">
            <input type="hidden" name="orders" id="orders" th:field="*{orders}">
            <input type="hidden" name="card" id="card" th:field="*{card}">
            <input type="hidden" name="bonuses" id="bonuses" th:field="*{bonuses}">
            <input type="hidden" name="totalSum" id="totalSum" th:field="*{totalSum}">
          </div>
        </div>
      </div>
      <input class="admin_edit_save_button" type="submit" value="Сохранить">
    </form>
  </div>
</div>
</body>
</html>